:root {
    --bgnd: #333;
    --edge: #555;
    --black: black;
    --p1: deeppink;
    --p2: dodgerblue;
    --primary: var(--p1);
}

body.p1 {
    img.left {
        background-color: var(--p1);
    }
    img.right {
        background-color: var(--edge);
    }
    #box_count_p1 {
        color: var(--p1);
    }
    #box_count_p2 {
        color: var(--edge);
    }
}

body.p2 {
    --primary: var(--p2);
    img.left {
        background-color: var(--edge);
    }
    img.right {
        background-color: var(--p2);
    }
    #box_count_p1 {
        color: var(--edge);
    }
    #box_count_p2 {
        color: var(--p2);
    }
}

body {
    text-align: center;
    background-color: var(--bgnd);
}

h1,
div,
h2 {
    font-family: sans-serif;
    color: var(--primary);
}

img {
    display: inline-block;
    border-radius: 4px;
    background-color: var(--edge);
    margin: 0 10px;
}

#winner {
    display: none;
    color: white;
    border-radius: 4px;
    background-color: var(--edge);
    margin: 10px;
    padding: 10px;
    cursor: none;
}

#winner.p1 {
    background-color: var(--p1);
    display: inline-block;
    cursor: pointer;
}

#winner.p2 {
    background-color: var(--p2);
    display: inline-block;
    cursor: pointer;
}

#grid_size h2 {
    color: white !important;
}

#grid_size div div {
    background-color: var(--edge);
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 10px 20px 10px;
    font-weight: bold;
    padding: 10px;
    color: white;
}

#grid_size div div.highlight {
    background-color: var(--p1) !important;
}

#play {
    display: block;
    width: 200px;
    margin: 0 auto 20px auto;
    background-color: var(--p1);
    border: 8px solid var(--p2);
    font-weight: bold;
    font-size: 30px;
    color: white;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

#games {
    color: var(--edge);
}

#games_p1 {
    color: var(--p1);
    font-weight: bold;
    display: inline-block;
    border-radius: 4px;
    background-color: var(--edge);
    margin: 0 10px;
    padding: 10px;
}

#games_p2 {
    color: var(--p2);
    font-weight: bold;
    display: inline-block;
    border-radius: 4px;
    background-color: var(--edge);
    margin: 0 10px;
    padding: 10px;
}

.hide {
    display: none !important;
}

#grid {
    pointer-events: none;
    opacity: 0.3;
    margin: 60px auto;
    position: relative;
    height: var(--grid-height);
    border: 4px solid var(--edge);
}

.grid-is-playable {
    pointer-events: all !important;
    opacity: 1 !important;
}

/* Grid squares */
.grid-square {
    position: absolute;
    width: var(--square);
    height: var(--square);
    box-sizing: border-box;
    border: 4px solid var(--edge);
    opacity: 0.8;
}

.grid-square.p1 {
    background-color: var(--p1);
}

.grid-square.p2 {
    background-color: var(--p2);
}

/* edges */
.edge {
    position: absolute;
    background: transparent;
    cursor: pointer;
}
.h-edge {
    height: 20px; /* clickable thickness */
    margin-top: -8px;
}
.v-edge {
    width: 20px; /* clickable thickness */
    margin-left: -8px;
}
.h-edge:hover,
.v-edge:hover {
    background-color: var(--primary);
    opacity: 0.5;
}

/* edges selected */
.edge.p1 {
    background-color: var(--p1);
    opacity: 1;
    pointer-events: none !important;
}

.edge.p2 {
    background-color: var(--p2);
    opacity: 1;
    pointer-events: none !important;
}

.h-edge.p1,
.h-edge.p2 {
    height: 10px;
    margin-top: -3px;
}

.v-edge.p1,
.v-edge.p2 {
    width: 10px;
    margin-left: -3px;
}

/* Vertices: small circles */
.vertex {
    position: absolute;
    width: var(--circle);
    height: var(--circle);
    background: var(--black);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
